<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<clear />
				<rule name="SpaRewriteRule" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(images)" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(uploads)" negate="true" />
						
					</conditions>
					<action type="Rewrite" url="/index.html" />
				</rule>
				<rule name="ApiProxyRule" stopProcessing="true">
					<match url="api/(.*)" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="http://10.101.183.95/api/{R:1}" />
				</rule>
				<rule name="images" enabled="false" stopProcessing="true">
					<match url="images/(.*)" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="http://10.101.183.95/images/{R:1}" />
				</rule>
				<rule name="uploads" stopProcessing="true">
					<match url="uploads/(.*)" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="http://10.101.183.95/uploads/{R:1}" />
				</rule>
				
			</rules>
			<rewriteMaps>
				<rewriteMap name="{MapProtocol:{HTTPS}}" />
				<rewriteMap name="MapProtocol">
					<add key="https" value="on" />
					<add key="http" value="off" />
				</rewriteMap>
			</rewriteMaps>
		</rewrite>
        <modules>
            <remove name="WebDAVModule" />
        </modules>
        <handlers>
            <remove name="WebDAV" />
        </handlers>
	</system.webServer>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" name="LocalSqlServer" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
