<div style="display: flex;">
  <div style="justify-content: space-between;"><a routerLink='/'>
    <img src="./assets/images/logo.png" style="width: 175px;" alt="Rehber">
  </a></div>
  <div style="justify-content: space-between;
      width: 100%;
      text-align: center;
      /* height: 80px; */
      margin-top: 30px;
      margin-left: -175px;
      font-size: 18px;
      font-weight: bold;
      color: #17469e;
  ">
  <span>Müdürlük Dahili Telefon Listesi</span>
</div>
</div>
<div class="outer-container">
  <ng-container *ngFor="let uniqueAddress of uniqueAddresses">
    <div class="card-header" style="margin:0 !important; padding: 3px !important;">
      <h2 style="margin:1px !important; font-weight: bold; color: #000000a4;">{{ uniqueAddress.physicalAdress }}</h2>
    </div>
    <div class="card-container">
      <ng-container *ngFor="let department of getDepartmentsByAddress(uniqueAddress)">
        <mat-card class="user-card p-0">
          <mat-card-title class="mb-16" style="margin-bottom: 0 !important;">
            <div class="card-title-text" style="margin:0px !important;">
              <div class="title">
                <h2 style="color: #17469e; font-weight: bold;">{{ department.name }}</h2>
                <h5 style="color: #589945; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; width:175px; text-align: right; font-size: 13px;"><mat-icon style="vertical-align: middle; font-size: 22px;">print</mat-icon> {{ department.fax }}</h5>
            </div>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content style="overflow-y: auto; max-height: 300px;">
            <table class="table">
              <thead>
                <tr style="font-size: 13px;">
                  <th>No</th>
                  <th>Adı Soyadı</th>
                  <!--<th>Ünvanı</th>-->
                  <th>Dahili</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="department.orderedPersons && department.orderedPersons.length > 0; else noPersons">
                  <ng-container *ngFor="let person of department.orderedPersons; let i = index">
                    <ng-container *ngIf="person.showSectionTitle">
                      <tr>
                        <td colspan="4" style="font-size: 12px; font-weight: bold;" class="section-title">{{ person.section.name || '' }}</td>
                      </tr>
                    </ng-container>
                    <tr style="font-size: 12px;">
                      <td>{{ i + 1 }}</td>
                      <td>{{ person.firstName }} {{ person.lastName }}</td>
                      <!--<td>{{ person.title }}</td>-->
                      <td>{{ person.ext }}</td>
                    </tr>
                  </ng-container>
                </ng-container>
                <ng-template #noPersons>
                  <tr>
                    <td colspan="4">Bu bölümde personel bulunmamaktadır.</td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
            
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </ng-container>
</div>


<div class="app-footer">
  <p class="footer-note" style="margin-bottom: 5px !important;float: right; margin-right: 20px; color: #cfcfcf; font-size: 12px;">Güncellemeler için lütfen 3458 dahiliye erişiniz yada teknikdestek.sariyer.bel.tr mail adresine mail attınız!</p>
  <p class="created-by-text">Yazılım Birimi © Copyright {{currentYear}}</p>
</div>