.card-title-container {
    display: flex;
    align-items: center;
    width: 100%; /* Container'ı genişlet */
}
.card-title-text {
    flex-grow: 1; /* Boş alanı doldur */
}
.back-button {
    margin-right: 30px; /* Button'ı sağa yaslar */
    
}

mat-divider {
    flex: 1;
    height: 1px;
    margin: 0 10px;
    border: none;
    background-color: #ebe5e5;
}